<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>GreenToken</title>
  <link rel="stylesheet" href="/static/style.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .bg-text {
      background-color: rgba(1, 120, 15, 0.4);
      color: aliceblue;
      text-align: center;
      padding: 1rem;
      
      border-radius: 10px;
    }
  </style>
</head>
<body>


<!-- partial:index.partial.html -->
<div class="stars"></div>
<!-- partial -->
<div class="container">
  <h1 style="color:aliceblue; text-align: center;" class="bg-text">{{joke}}</h1>
</div>


  
  

</body>
</html>
